body {
  /* Reseting the default here */
  margin: 0;
  cursor: "zoom-in";
     overscroll-behavior: none;
 
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



html {
  cursor: "zoom-in";

}

#article_wrapper {
  position: relative;
  height: 5000px; /* Length of the interactive scroll article */
  cursor: "zoom-in";
}

#canvas_wrapper {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: "zoom-in";
}

.hoverText {
  color: "black";
  padding: "10px";
  background: "white";
  border-radius: "5px";
  cursor: "zoom-in";
}

.scroll_slide {
  color: "white";
  position: "absolute";
  width: "50vw";
  padding-left: "20px";
  z-index: "50";
  cursor: "zoom-in";
}

@font-face {
  font-family: "EDDrayton-Regular";
  src: url("https://cdn.glitch.global/10b345a3-95cd-4ca0-8235-797211874091/EDDrayton-Regular.woff?v=1709239464894");
}
