body {
  /* Reseting the default here */
  margin: 0;
}

#article_wrapper {
  position: relative;
  height: 5000px; /* Length of the interactive scroll article */
}

#canvas_wrapper {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.hoverText {
  font-family: "KingThings";
  color: "black";
padding: "10px";
background: "white";
 border-radius: "5px";
           
}

.scroll_slide {
  color: "white";
  position: "absolute";
  width: "50vw";
  padding-left: "20px";
  z-index: "50";
}

@font-face {
  font-family: "KingthingsTrypewriter";
  src: url('https://cdn.glitch.global/10b345a3-95cd-4ca0-8235-797211874091/KingthingsTrypewriter2.woff?v=1709238336492')
}